body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 0;
        padding: 20px;
        background-color: #f8f8f8; 
        
    }
    
    h1, h2, h3 {
        color: #333; 
    }
    
    .contact-info {
        margin-bottom: 20px;
    }
    
    .section {
        margin-bottom: 30px;
    }
    
    .experience-item {
        margin-bottom: 20px;
    }
    
    .skills {
        font-weight: bold;
    }
    
    ul {
        list-style-type: disc; 
        margin-left: 20px; 
    }

    .back-to-home {
        position: absolute;
        top: 20px; 
        right: 20px; 
        padding: 10px 20px;
        background-color: #007bff; 
        color: #fff; 
        text-decoration: none; 
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .back-to-home:hover {
        background-color: #0056b3; 
    }

